<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-native-video-player" version="0.0.1">
  <name>Cordova Plugin Native Video Player</name>
  <description>high functionaly video player plugin</description>
	<engines>
		<engine name="cordova-android" version=">=7.1.0" />
	</engines>
  <js-module src="www/NativeVideoPlayer.js" name='NativeVideoPlayer' >
    <clobbers target="NativeVideoPlayer" />
  </js-module>
  <!-- Android -->
  <platform name="android" kotlin="1.3.60">
   <config-file target="res/xml/config.xml" parent="/*">
      <feature name="NativeVideoPlayer">
        <param name="android-package" value="jp.rabee.CDVNativeVideoPlayer"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <edit-config file="AndroidManifest.xml" target="/manifest" mode="merge">
        <manifest xmlns:tools="http://schemas.android.com/tools" />
    </edit-config>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
        <activity
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:name="jp.rabee.PlayerActivity"
            android:theme="@style/PlayerTheme"
            android:label="PlayerActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:exported="false"
            tools:targetApi="n">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </config-file>

    <!-- soruce -->
    <source-file src="src/android/java/CDVNativeVideoPlayer.kt" target-dir="app/src/main/kotlin/jp/rabee"/>
    <source-file src="src/android/java/GlideThumbnailTransformation.kt" target-dir="app/src/main/kotlin/jp/rabee"/>
    <source-file src="src/android/java/MediaItem.kt" target-dir="app/src/main/kotlin/jp/rabee"/>
    <source-file src="src/android/java/PlayerActivity.kt" target-dir="app/src/main/kotlin/jp/rabee"/>

    <!-- res -->
    <resource-file src="src/android/layout/activity_player.xml" target="res/layout/activity_player.xml"/>
    <resource-file src="src/android/layout/controller_view.xml" target="res/layout/controller_view.xml"/>

    <resource-file src="src/android/values/player_strings.xml" target="res/values/player_strings.xml"/>
    <resource-file src="src/android/values/styles.xml" target="res/values/styles.xml"/>

    <resource-file src="src/android/drawable/ic_fullscreen_white.xml" target="res/drawable/ic_fullscreen_white.xml"/>
    <resource-file src="src/android/drawable/ic_fullscreen_exit_white.xml" target="res/drawable/ic_fullscreen_exit_white.xml"/>
    <resource-file src="src/android/drawable/ic_forward_10_white.xml" target="res/drawable/ic_forward_10_white.xml"/>
    <resource-file src="src/android/drawable/ic_rewind_10_white.xml" target="res/drawable/ic_rewind_10_white.xml"/>
    <resource-file src="src/android/drawable/ic_close_white.xml" target="res/drawable/ic_close_white.xml"/>
    <resource-file src="src/android/drawable/ic_speed_white.xml" target="res/drawable/ic_speed_white.xml"/>

    <!--gradle file-->
    <framework src="src/android/build-extras.gradle" custom="true" type="gradleReference" />

    <!--for support kotlin-->
    <hook type="after_platform_add" src="scripts/android/copy_build_extras.js" />
    <hook type="after_plugin_add" src="scripts/android/copy_build_extras.js" />
  </platform>
  <!-- iOS -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="NativeVideoPlayer">
        <param name="onload" value="true" />
        <param name="ios-package" value="CDVNativeVideoPlayer" />
      </feature>
      <preference name="deployment-target" value="11.0" />
    </config-file>

    <header-file src="src/ios/CDVNativeVideoPlayer-Bridging-Header.h" />
    <source-file src="src/ios/CDVNativeVideoPlayer.swift" />
    <source-file src="src/ios/CDVNativeVideoPlayerViewController.swift" />
    <source-file src="src/ios/CDVNVPResourcesLoader.swift" />

    <header-file src="src/ios/UIViewController+RotationControl.h" />
    <source-file src="src/ios/UIViewController+RotationControl.m" />
    
    <!-- assets -->
    <resource-file src="src/ios/CDVNVPResources.bundle" />
  
    <podspec>
      <config>
        <source url="https://github.com/CocoaPods/Specs.git"/>
      </config>
      <pods use-frameworks="true">
        <pod name="SnapKit" spec="~> 5.0.0" />
        <pod name="PIPKit" spec="~> 0.2.0" />
        <pod name="SJBaseVideoPlayer" options=":git => 'https://github.com/changsanjiang/SJBaseVideoPlayer.git'"/>
        <pod name="SJVideoPlayer" options=":git => 'https://github.com/changsanjiang/SJVideoPlayer.git'"/>
      </pods>
    </podspec>
    <dependency id="cordova-plugin-add-swift-support" version="2.0.2"/>
    <preference name="UseSwiftLanguageVersion" default="5" />
  </platform>
</plugin>
